/* Don't forget to add a background rule to reference the sprite image. Something like this, for example:

#container li {
    background: url(sprite.png) no-repeat top left;
}
*/

.sprite-afghanistan{ background-position: 0 0; width: 45px; height: 30px; }
.sprite-albania{ background-position: 0 -31px; width: 42px; height: 30px; }
.sprite-algeria{ background-position: 0 -62px; width: 45px; height: 30px; }
.sprite-andorra{ background-position: 0 -93px; width: 43px; height: 30px; }
.sprite-angola{ background-position: 0 -124px; width: 45px; height: 30px; }
.sprite-antigua_and_barbuda{ background-position: 0 -155px; width: 45px; height: 30px; }
.sprite-argentina{ background-position: 0 -186px; width: 48px; height: 30px; }
.sprite-armenia{ background-position: 0 -217px; width: 60px; height: 30px; }
.sprite-australia{ background-position: 0 -248px; width: 60px; height: 30px; }
.sprite-austria{ background-position: 0 -279px; width: 45px; height: 30px; }
.sprite-azerbaijan{ background-position: 0 -310px; width: 60px; height: 30px; }
.sprite-bahrain{ background-position: 0 -341px; width: 51px; height: 31px; }
.sprite-bangladesh{ background-position: 0 -373px; width: 51px; height: 31px; }
.sprite-barbados{ background-position: 0 -405px; width: 45px; height: 30px; }
.sprite-belarus{ background-position: 0 -436px; width: 60px; height: 30px; }
.sprite-belgium{ background-position: 0 -467px; width: 35px; height: 30px; }
.sprite-belize{ background-position: 0 -498px; width: 45px; height: 30px; }
.sprite-benin{ background-position: 0 -529px; width: 45px; height: 30px; }
.sprite-bhutan{ background-position: 0 -560px; width: 45px; height: 30px; }
.sprite-bolivia{ background-position: 0 -591px; width: 45px; height: 31px; }
.sprite-bosnia_and_herzegovina{ background-position: 0 -623px; width: 60px; height: 30px; }
.sprite-botswana{ background-position: 0 -654px; width: 45px; height: 30px; }
.sprite-brazil{ background-position: 0 -685px; width: 43px; height: 30px; }
.sprite-brunei{ background-position: 0 -716px; width: 60px; height: 30px; }
.sprite-bulgaria{ background-position: 0 -747px; width: 51px; height: 31px; }
.sprite-burkina_faso{ background-position: 0 -779px; width: 45px; height: 30px; }
.sprite-burundi{ background-position: 0 -810px; width: 51px; height: 31px; }
.sprite-cambodia{ background-position: 0 -842px; width: 48px; height: 31px; }
.sprite-cameroon{ background-position: 0 -874px; width: 45px; height: 30px; }
.sprite-canada{ background-position: 0 -905px; width: 60px; height: 30px; }
.sprite-cape_verde{ background-position: 0 -936px; width: 51px; height: 30px; }
.sprite-chad{ background-position: 0 -967px; width: 45px; height: 30px; }
.sprite-chile{ background-position: 0 -998px; width: 45px; height: 30px; }
.sprite-colombia{ background-position: 0 -1029px; width: 45px; height: 30px; }
.sprite-costa_rica{ background-position: 0 -1060px; width: 51px; height: 31px; }
.sprite-cote_divoire{ background-position: 0 -1092px; width: 45px; height: 30px; }
.sprite-croatia{ background-position: 0 -1123px; width: 60px; height: 30px; }
.sprite-cuba{ background-position: 0 -1154px; width: 60px; height: 30px; }
.sprite-cyprus{ background-position: 0 -1185px; width: 45px; height: 30px; }
.sprite-denmark{ background-position: 0 -1216px; width: 40px; height: 30px; }
.sprite-djibouti{ background-position: 0 -1247px; width: 45px; height: 30px; }
.sprite-dominica{ background-position: 0 -1278px; width: 60px; height: 30px; }
.sprite-east_timor{ background-position: 0 -1309px; width: 60px; height: 30px; }
.sprite-ecuador{ background-position: 0 -1340px; width: 45px; height: 30px; }
.sprite-egypt{ background-position: 0 -1371px; width: 45px; height: 30px; }
.sprite-el_salvador{ background-position: 0 -1402px; width: 54px; height: 30px; }
.sprite-equatorial_guinea{ background-position: 0 -1433px; width: 45px; height: 30px; }
.sprite-eritrea{ background-position: 0 -1464px; width: 60px; height: 30px; }
.sprite-estonia{ background-position: 0 -1495px; width: 48px; height: 31px; }
.sprite-ethiopia{ background-position: 0 -1527px; width: 60px; height: 30px; }
.sprite-fiji{ background-position: 0 -1558px; width: 60px; height: 30px; }
.sprite-finland{ background-position: 0 -1589px; width: 50px; height: 31px; }
.sprite-france{ background-position: 0 -1621px; width: 45px; height: 30px; }
.sprite-gabon{ background-position: 0 -1652px; width: 40px; height: 30px; }
.sprite-georgia{ background-position: 0 -1683px; width: 45px; height: 30px; }
.sprite-germany{ background-position: 0 -1714px; width: 51px; height: 31px; }
.sprite-ghana{ background-position: 0 -1746px; width: 45px; height: 30px; }
.sprite-greece{ background-position: 0 -1777px; width: 45px; height: 30px; }
.sprite-grenada{ background-position: 0 -1808px; width: 51px; height: 31px; }
.sprite-guatemala{ background-position: 0 -1840px; width: 48px; height: 30px; }
.sprite-guinea-bissau{ background-position: 0 -1871px; width: 60px; height: 30px; }
.sprite-guinea{ background-position: 0 -1902px; width: 45px; height: 30px; }
.sprite-guyana{ background-position: 0 -1933px; width: 51px; height: 31px; }
.sprite-haiti{ background-position: 0 -1965px; width: 51px; height: 31px; }
.sprite-honduras{ background-position: 0 -1997px; width: 60px; height: 30px; }
.sprite-hungary{ background-position: -61px 0; width: 60px; height: 30px; }
.sprite-iceland{ background-position: -61px -31px; width: 42px; height: 30px; }
.sprite-india{ background-position: -61px -62px; width: 45px; height: 30px; }
.sprite-indonesia{ background-position: -61px -93px; width: 45px; height: 30px; }
.sprite-iran{ background-position: -61px -124px; width: 53px; height: 30px; }
.sprite-iraq{ background-position: -61px -155px; width: 45px; height: 30px; }
.sprite-ireland{ background-position: -61px -186px; width: 60px; height: 30px; }
.sprite-israel{ background-position: -61px -217px; width: 42px; height: 31px; }
.sprite-italy{ background-position: -61px -249px; width: 45px; height: 30px; }
.sprite-jamaica{ background-position: -61px -280px; width: 60px; height: 30px; }
.sprite-japan{ background-position: -61px -311px; width: 45px; height: 30px; }
.sprite-jordan{ background-position: -61px -342px; width: 60px; height: 30px; }
.sprite-kazakhstan{ background-position: -61px -373px; width: 60px; height: 30px; }
.sprite-kenya{ background-position: -61px -404px; width: 45px; height: 30px; }
.sprite-kiribati{ background-position: -61px -435px; width: 60px; height: 30px; }
.sprite-kuwait{ background-position: -61px -466px; width: 60px; height: 30px; }
.sprite-kyrgyzstan{ background-position: -61px -497px; width: 51px; height: 31px; }
.sprite-laos{ background-position: -61px -529px; width: 45px; height: 30px; }
.sprite-latvia{ background-position: -61px -560px; width: 60px; height: 30px; }
.sprite-lebanon{ background-position: -61px -591px; width: 45px; height: 30px; }
.sprite-lesotho{ background-position: -61px -622px; width: 45px; height: 30px; }
.sprite-liberia{ background-position: -61px -653px; width: 57px; height: 30px; }
.sprite-libya{ background-position: -61px -684px; width: 60px; height: 30px; }
.sprite-liechtenstein{ background-position: -61px -715px; width: 51px; height: 31px; }
.sprite-lithuania{ background-position: -61px -747px; width: 51px; height: 31px; }
.sprite-luxembourg{ background-position: -61px -779px; width: 51px; height: 31px; }
.sprite-macedonia{ background-position: -61px -811px; width: 60px; height: 30px; }
.sprite-madagascar{ background-position: -61px -842px; width: 45px; height: 30px; }
.sprite-malawi{ background-position: -61px -873px; width: 45px; height: 30px; }
.sprite-malaysia{ background-position: -61px -904px; width: 60px; height: 30px; }
.sprite-maldives{ background-position: -61px -935px; width: 45px; height: 30px; }
.sprite-mali{ background-position: -61px -966px; width: 45px; height: 30px; }
.sprite-malta{ background-position: -61px -997px; width: 45px; height: 30px; }
.sprite-mauritania{ background-position: -61px -1028px; width: 45px; height: 30px; }
.sprite-mauritius{ background-position: -61px -1059px; width: 45px; height: 30px; }
.sprite-mexico{ background-position: -61px -1090px; width: 53px; height: 30px; }
.sprite-micronesia{ background-position: -61px -1121px; width: 57px; height: 30px; }
.sprite-moldova{ background-position: -61px -1152px; width: 60px; height: 30px; }
.sprite-monaco{ background-position: -61px -1183px; width: 38px; height: 30px; }
.sprite-mongolia{ background-position: -61px -1214px; width: 60px; height: 30px; }
.sprite-montenegro{ background-position: -61px -1245px; width: 60px; height: 30px; }
.sprite-morocco{ background-position: -61px -1276px; width: 45px; height: 30px; }
.sprite-mozambique{ background-position: -61px -1307px; width: 45px; height: 30px; }
.sprite-myanmar{ background-position: -61px -1338px; width: 45px; height: 30px; }
.sprite-namibia{ background-position: -61px -1369px; width: 45px; height: 30px; }
.sprite-nauru{ background-position: -61px -1400px; width: 60px; height: 30px; }
.sprite-nepal{ background-position: -61px -1431px; width: 25px; height: 30px; }
.sprite-new_zealand{ background-position: -61px -1462px; width: 60px; height: 30px; }
.sprite-nicaragua{ background-position: -61px -1493px; width: 51px; height: 31px; }
.sprite-niger{ background-position: -61px -1525px; width: 36px; height: 31px; }
.sprite-nigeria{ background-position: -61px -1557px; width: 60px; height: 30px; }
.sprite-north_korea{ background-position: -61px -1588px; width: 60px; height: 30px; }
.sprite-norway{ background-position: -61px -1619px; width: 42px; height: 31px; }
.sprite-oman{ background-position: -61px -1651px; width: 60px; height: 30px; }
.sprite-pakistan{ background-position: -61px -1682px; width: 45px; height: 30px; }
.sprite-palau{ background-position: -61px -1713px; width: 48px; height: 30px; }
.sprite-palestine{ background-position: -61px -1744px; width: 60px; height: 30px; }
.sprite-panama{ background-position: -61px -1775px; width: 45px; height: 30px; }
.sprite-papua_new_guinea{ background-position: -61px -1806px; width: 40px; height: 30px; }
.sprite-paraguay{ background-position: -61px -1837px; width: 51px; height: 31px; }
.sprite-peru{ background-position: -61px -1869px; width: 45px; height: 30px; }
.sprite-poland{ background-position: -61px -1900px; width: 48px; height: 30px; }
.sprite-portugal{ background-position: -61px -1931px; width: 45px; height: 30px; }
.sprite-qatar{ background-position: -61px -1962px; width: 77px; height: 30px; }
.sprite-romania{ background-position: -61px -1993px; width: 45px; height: 30px; }
.sprite-russia{ background-position: -139px 0; width: 45px; height: 30px; }
.sprite-rwanda{ background-position: -139px -31px; width: 45px; height: 30px; }
.sprite-saint_kitts_and_nevis{ background-position: -139px -62px; width: 45px; height: 30px; }
.sprite-saint_lucia{ background-position: -139px -93px; width: 60px; height: 30px; }
.sprite-saint_vincent_and_the_grenadines{ background-position: -139px -124px; width: 45px; height: 30px; }
.sprite-samoa{ background-position: -139px -155px; width: 60px; height: 30px; }
.sprite-san_marino{ background-position: -139px -186px; width: 40px; height: 30px; }
.sprite-sao_tome_and_principe{ background-position: -139px -217px; width: 60px; height: 30px; }
.sprite-saudi_arabia{ background-position: -139px -248px; width: 45px; height: 30px; }
.sprite-senegal{ background-position: -139px -279px; width: 45px; height: 30px; }
.sprite-serbia{ background-position: -139px -310px; width: 45px; height: 30px; }
.sprite-sierra_leone{ background-position: -139px -341px; width: 45px; height: 30px; }
.sprite-singapore{ background-position: -139px -372px; width: 45px; height: 30px; }
.sprite-slovakia{ background-position: -139px -403px; width: 45px; height: 30px; }
.sprite-slovenia{ background-position: -139px -434px; width: 60px; height: 30px; }
.sprite-somalia{ background-position: -139px -465px; width: 45px; height: 30px; }
.sprite-south_africa{ background-position: -139px -496px; width: 45px; height: 30px; }
.sprite-south_korea{ background-position: -139px -527px; width: 45px; height: 30px; }
.sprite-south_sudan{ background-position: -139px -558px; width: 60px; height: 30px; }
.sprite-spain{ background-position: -139px -589px; width: 45px; height: 30px; }
.sprite-sri_lanka{ background-position: -139px -620px; width: 60px; height: 30px; }
.sprite-sudan{ background-position: -139px -651px; width: 60px; height: 30px; }
.sprite-suriname{ background-position: -139px -682px; width: 45px; height: 30px; }
.sprite-swaziland{ background-position: -139px -713px; width: 45px; height: 30px; }
.sprite-sweden{ background-position: -139px -744px; width: 48px; height: 30px; }
.sprite-switzerland{ background-position: -139px -775px; width: 30px; height: 30px; }
.sprite-syria{ background-position: -139px -806px; width: 45px; height: 30px; }
.sprite-taiwan{ background-position: -139px -837px; width: 45px; height: 30px; }
.sprite-tajikistan{ background-position: -139px -868px; width: 60px; height: 30px; }
.sprite-tanzania{ background-position: -139px -899px; width: 45px; height: 30px; }
.sprite-thailand{ background-position: -139px -930px; width: 45px; height: 30px; }
.sprite-the_bahamas{ background-position: -139px -961px; width: 60px; height: 30px; }
.sprite-the_central_african_republic{ background-position: -139px -992px; width: 45px; height: 30px; }
.sprite-the_comoros{ background-position: -139px -1023px; width: 51px; height: 31px; }
.sprite-the_czech_republic{ background-position: -139px -1055px; width: 45px; height: 30px; }
.sprite-the_democratic_republic_of_the_congo{ background-position: -139px -1086px; width: 40px; height: 30px; }
.sprite-the_dominican_republic{ background-position: -139px -1117px; width: 48px; height: 30px; }
.sprite-the_gambia{ background-position: -139px -1148px; width: 45px; height: 30px; }
.sprite-the_marshall_islands{ background-position: -139px -1179px; width: 57px; height: 30px; }
.sprite-the_netherlands{ background-position: -139px -1210px; width: 45px; height: 30px; }
.sprite-the_peoples_republic_of_china{ background-position: -139px -1241px; width: 45px; height: 30px; }
.sprite-the_philippines{ background-position: -139px -1272px; width: 60px; height: 30px; }
.sprite-the_republic_of_the_congo{ background-position: -139px -1303px; width: 45px; height: 30px; }
.sprite-the_seychelles{ background-position: -139px -1334px; width: 60px; height: 30px; }
.sprite-the_solomon_islands{ background-position: -139px -1365px; width: 60px; height: 30px; }
.sprite-the_united_arab_emirates{ background-position: -139px -1396px; width: 60px; height: 30px; }
.sprite-the_united_kingdom{ background-position: -139px -1427px; width: 60px; height: 30px; }
.sprite-the_united_states{ background-position: -139px -1458px; width: 57px; height: 30px; }
.sprite-the_vatican_city{ background-position: -139px -1489px; width: 30px; height: 30px; }
.sprite-togo{ background-position: -139px -1520px; width: 49px; height: 30px; }
.sprite-tonga{ background-position: -139px -1551px; width: 60px; height: 30px; }
.sprite-trinidad_and_tobago{ background-position: -139px -1582px; width: 51px; height: 31px; }
.sprite-tunisia{ background-position: -139px -1614px; width: 45px; height: 30px; }
.sprite-turkey{ background-position: -139px -1645px; width: 45px; height: 30px; }
.sprite-turkmenistan{ background-position: -139px -1676px; width: 45px; height: 30px; }
.sprite-tuvalu{ background-position: -139px -1707px; width: 60px; height: 30px; }
.sprite-uganda{ background-position: -139px -1738px; width: 45px; height: 30px; }
.sprite-ukraine{ background-position: -139px -1769px; width: 45px; height: 30px; }
.sprite-uruguay{ background-position: -139px -1800px; width: 45px; height: 30px; }
.sprite-uzbekistan{ background-position: -139px -1831px; width: 60px; height: 30px; }
.sprite-vanuatu{ background-position: -139px -1862px; width: 51px; height: 31px; }
.sprite-venezuela{ background-position: -139px -1894px; width: 45px; height: 30px; }
.sprite-vietnam{ background-position: -139px -1925px; width: 45px; height: 30px; }
.sprite-yemen{ background-position: -139px -1956px; width: 45px; height: 30px; }
.sprite-zambia{ background-position: -139px -1987px; width: 45px; height: 30px; }
.sprite-zimbabwe{ background-position: -217px 0; width: 60px; height: 30px; }