/*

Don't forget to add a background rule to reference the sprite image. Something like this, for example:

#container li {
    background: url(csg-51be02b144571.png) no-repeat top left;
}

 */

.sprite-afghanistan{ background-position: 0 0; width: 135px; height: 90px; }
.sprite-albania{ background-position: 0 -91px; width: 126px; height: 90px; }
.sprite-algeria{ background-position: 0 -182px; width: 135px; height: 90px; }
.sprite-andorra{ background-position: 0 -273px; width: 129px; height: 90px; }
.sprite-angola{ background-position: 0 -364px; width: 135px; height: 90px; }
.sprite-antigua_and_barbuda{ background-position: 0 -455px; width: 135px; height: 90px; }
.sprite-argentina{ background-position: 0 -546px; width: 144px; height: 90px; }
.sprite-armenia{ background-position: 0 -637px; width: 180px; height: 90px; }
.sprite-australia{ background-position: 0 -728px; width: 180px; height: 90px; }
.sprite-austria{ background-position: 0 -819px; width: 135px; height: 90px; }
.sprite-azerbaijan{ background-position: 0 -910px; width: 180px; height: 90px; }
.sprite-bahrain{ background-position: 0 -1001px; width: 151px; height: 91px; }
.sprite-bangladesh{ background-position: 0 -1093px; width: 151px; height: 91px; }
.sprite-barbados{ background-position: 0 -1185px; width: 135px; height: 90px; }
.sprite-belarus{ background-position: 0 -1276px; width: 180px; height: 90px; }
.sprite-belgium{ background-position: 0 -1367px; width: 104px; height: 90px; }
.sprite-belize{ background-position: 0 -1458px; width: 135px; height: 90px; }
.sprite-benin{ background-position: 0 -1549px; width: 135px; height: 90px; }
.sprite-bhutan{ background-position: 0 -1640px; width: 135px; height: 90px; }
.sprite-bolivia{ background-position: 0 -1731px; width: 133px; height: 91px; }
.sprite-bosnia_and_herzegovina{ background-position: 0 -1823px; width: 180px; height: 90px; }
.sprite-botswana{ background-position: 0 -1914px; width: 135px; height: 90px; }
.sprite-brazil{ background-position: -181px 0; width: 129px; height: 90px; }
.sprite-brunei{ background-position: -181px -91px; width: 180px; height: 90px; }
.sprite-bulgaria{ background-position: -181px -182px; width: 151px; height: 91px; }
.sprite-burkina_faso{ background-position: -181px -274px; width: 135px; height: 90px; }
.sprite-burundi{ background-position: -181px -365px; width: 151px; height: 91px; }
.sprite-cambodia{ background-position: -181px -457px; width: 142px; height: 91px; }
.sprite-cameroon{ background-position: -181px -549px; width: 135px; height: 90px; }
.sprite-canada{ background-position: -181px -640px; width: 180px; height: 90px; }
.sprite-cape_verde{ background-position: -181px -731px; width: 153px; height: 90px; }
.sprite-chad{ background-position: -181px -822px; width: 135px; height: 90px; }
.sprite-chile{ background-position: -181px -913px; width: 135px; height: 90px; }
.sprite-colombia{ background-position: -181px -1004px; width: 135px; height: 90px; }
.sprite-costa_rica{ background-position: -181px -1095px; width: 151px; height: 91px; }
.sprite-cote_divoire{ background-position: -181px -1187px; width: 135px; height: 90px; }
.sprite-croatia{ background-position: -181px -1278px; width: 180px; height: 90px; }
.sprite-cuba{ background-position: -181px -1369px; width: 180px; height: 90px; }
.sprite-cyprus{ background-position: -181px -1460px; width: 135px; height: 90px; }
.sprite-denmark{ background-position: -181px -1551px; width: 119px; height: 90px; }
.sprite-djibouti{ background-position: -181px -1642px; width: 135px; height: 90px; }
.sprite-dominica{ background-position: -181px -1733px; width: 180px; height: 90px; }
.sprite-east_timor{ background-position: -181px -1824px; width: 180px; height: 90px; }
.sprite-ecuador{ background-position: -181px -1915px; width: 135px; height: 90px; }
.sprite-egypt{ background-position: -362px 0; width: 135px; height: 90px; }
.sprite-el_salvador{ background-position: -362px -91px; width: 161px; height: 91px; }
.sprite-equatorial_guinea{ background-position: -362px -183px; width: 135px; height: 90px; }
.sprite-eritrea{ background-position: -362px -274px; width: 180px; height: 90px; }
.sprite-estonia{ background-position: -362px -365px; width: 142px; height: 90px; }
.sprite-ethiopia{ background-position: -362px -456px; width: 180px; height: 90px; }
.sprite-fiji{ background-position: -362px -547px; width: 180px; height: 90px; }
.sprite-finland{ background-position: -362px -638px; width: 148px; height: 90px; }
.sprite-france{ background-position: -362px -729px; width: 135px; height: 90px; }
.sprite-gabon{ background-position: -362px -820px; width: 120px; height: 90px; }
.sprite-georgia{ background-position: -362px -911px; width: 135px; height: 90px; }
.sprite-germany{ background-position: -362px -1002px; width: 151px; height: 91px; }
.sprite-ghana{ background-position: -362px -1094px; width: 135px; height: 90px; }
.sprite-greece{ background-position: -362px -1185px; width: 135px; height: 90px; }
.sprite-grenada{ background-position: -362px -1276px; width: 151px; height: 91px; }
.sprite-guatemala{ background-position: -362px -1368px; width: 144px; height: 90px; }
.sprite-guinea-bissau{ background-position: -362px -1459px; width: 180px; height: 90px; }
.sprite-guinea{ background-position: -362px -1550px; width: 135px; height: 90px; }
.sprite-guyana{ background-position: -362px -1641px; width: 151px; height: 91px; }
.sprite-haiti{ background-position: -362px -1733px; width: 151px; height: 91px; }
.sprite-honduras{ background-position: -362px -1825px; width: 180px; height: 90px; }
.sprite-hungary{ background-position: -362px -1916px; width: 180px; height: 90px; }
.sprite-iceland{ background-position: -543px 0; width: 126px; height: 91px; }
.sprite-india{ background-position: -543px -92px; width: 135px; height: 90px; }
.sprite-indonesia{ background-position: -543px -183px; width: 135px; height: 90px; }
.sprite-iran{ background-position: -543px -274px; width: 158px; height: 90px; }
.sprite-iraq{ background-position: -543px -365px; width: 135px; height: 90px; }
.sprite-ireland{ background-position: -543px -456px; width: 180px; height: 90px; }
.sprite-israel{ background-position: -543px -547px; width: 125px; height: 91px; }
.sprite-italy{ background-position: -543px -639px; width: 135px; height: 90px; }
.sprite-jamaica{ background-position: -543px -730px; width: 180px; height: 90px; }
.sprite-japan{ background-position: -543px -821px; width: 135px; height: 90px; }
.sprite-jordan{ background-position: -543px -912px; width: 180px; height: 90px; }
.sprite-kazakhstan{ background-position: -543px -1003px; width: 180px; height: 90px; }
.sprite-kenya{ background-position: -543px -1094px; width: 135px; height: 90px; }
.sprite-kiribati{ background-position: -543px -1185px; width: 180px; height: 90px; }
.sprite-kuwait{ background-position: -543px -1276px; width: 180px; height: 90px; }
.sprite-kyrgyzstan{ background-position: -543px -1367px; width: 151px; height: 91px; }
.sprite-laos{ background-position: -543px -1459px; width: 135px; height: 90px; }
.sprite-latvia{ background-position: -543px -1550px; width: 180px; height: 90px; }
.sprite-lebanon{ background-position: -543px -1641px; width: 135px; height: 90px; }
.sprite-lesotho{ background-position: -543px -1732px; width: 135px; height: 90px; }
.sprite-liberia{ background-position: -543px -1823px; width: 171px; height: 90px; }
.sprite-libya{ background-position: -543px -1914px; width: 180px; height: 90px; }
.sprite-liechtenstein{ background-position: -724px 0; width: 151px; height: 91px; }
.sprite-lithuania{ background-position: -724px -92px; width: 151px; height: 91px; }
.sprite-luxembourg{ background-position: -724px -184px; width: 151px; height: 91px; }
.sprite-macedonia{ background-position: -724px -276px; width: 180px; height: 90px; }
.sprite-madagascar{ background-position: -724px -367px; width: 135px; height: 90px; }
.sprite-malawi{ background-position: -724px -458px; width: 135px; height: 90px; }
.sprite-malaysia{ background-position: -724px -549px; width: 180px; height: 90px; }
.sprite-maldives{ background-position: -724px -640px; width: 135px; height: 90px; }
.sprite-mali{ background-position: -724px -731px; width: 135px; height: 90px; }
.sprite-malta{ background-position: -724px -822px; width: 135px; height: 90px; }
.sprite-mauritania{ background-position: -724px -913px; width: 135px; height: 90px; }
.sprite-mauritius{ background-position: -724px -1004px; width: 135px; height: 90px; }
.sprite-mexico{ background-position: -724px -1095px; width: 158px; height: 90px; }
.sprite-micronesia{ background-position: -724px -1186px; width: 171px; height: 90px; }
.sprite-moldova{ background-position: -724px -1277px; width: 180px; height: 90px; }
.sprite-monaco{ background-position: -724px -1368px; width: 113px; height: 90px; }
.sprite-mongolia{ background-position: -724px -1459px; width: 180px; height: 90px; }
.sprite-montenegro{ background-position: -724px -1550px; width: 180px; height: 90px; }
.sprite-morocco{ background-position: -724px -1641px; width: 135px; height: 90px; }
.sprite-mozambique{ background-position: -724px -1732px; width: 135px; height: 90px; }
.sprite-myanmar{ background-position: -724px -1823px; width: 135px; height: 90px; }
.sprite-namibia{ background-position: -724px -1914px; width: 135px; height: 90px; }
.sprite-nauru{ background-position: -905px 0; width: 180px; height: 90px; }
.sprite-nepal{ background-position: -905px -91px; width: 74px; height: 90px; }
.sprite-new_zealand{ background-position: -905px -182px; width: 180px; height: 90px; }
.sprite-nicaragua{ background-position: -905px -273px; width: 151px; height: 91px; }
.sprite-niger{ background-position: -905px -365px; width: 106px; height: 91px; }
.sprite-nigeria{ background-position: -905px -457px; width: 180px; height: 90px; }
.sprite-north_korea{ background-position: -905px -548px; width: 180px; height: 90px; }
.sprite-norway{ background-position: -905px -639px; width: 125px; height: 91px; }
.sprite-oman{ background-position: -905px -731px; width: 180px; height: 90px; }
.sprite-pakistan{ background-position: -905px -822px; width: 135px; height: 90px; }
.sprite-palau{ background-position: -905px -913px; width: 144px; height: 90px; }
.sprite-palestine{ background-position: -905px -1004px; width: 180px; height: 90px; }
.sprite-panama{ background-position: -905px -1095px; width: 135px; height: 90px; }
.sprite-papua_new_guinea{ background-position: -905px -1186px; width: 120px; height: 90px; }
.sprite-paraguay{ background-position: -905px -1277px; width: 151px; height: 91px; }
.sprite-peru{ background-position: -905px -1369px; width: 135px; height: 90px; }
.sprite-poland{ background-position: -905px -1460px; width: 144px; height: 90px; }
.sprite-portugal{ background-position: -905px -1551px; width: 135px; height: 90px; }
.sprite-qatar{ background-position: -905px -1642px; width: 229px; height: 90px; }
.sprite-romania{ background-position: -905px -1733px; width: 135px; height: 90px; }
.sprite-russia{ background-position: -905px -1824px; width: 135px; height: 90px; }
.sprite-rwanda{ background-position: -905px -1915px; width: 135px; height: 90px; }
.sprite-saint_kitts_and_nevis{ background-position: -1135px 0; width: 135px; height: 90px; }
.sprite-saint_lucia{ background-position: -1135px -91px; width: 180px; height: 90px; }
.sprite-saint_vincent_and_the_grenadines{ background-position: -1135px -182px; width: 135px; height: 90px; }
.sprite-samoa{ background-position: -1135px -273px; width: 180px; height: 90px; }
.sprite-san_marino{ background-position: -1135px -364px; width: 120px; height: 90px; }
.sprite-sao_tome_and_principe{ background-position: -1135px -455px; width: 180px; height: 90px; }
.sprite-saudi_arabia{ background-position: -1135px -546px; width: 135px; height: 90px; }
.sprite-senegal{ background-position: -1135px -637px; width: 135px; height: 90px; }
.sprite-serbia{ background-position: -1135px -728px; width: 135px; height: 90px; }
.sprite-sierra_leone{ background-position: -1135px -819px; width: 135px; height: 90px; }
.sprite-singapore{ background-position: -1135px -910px; width: 135px; height: 90px; }
.sprite-slovakia{ background-position: -1135px -1001px; width: 135px; height: 90px; }
.sprite-slovenia{ background-position: -1135px -1092px; width: 180px; height: 90px; }
.sprite-somalia{ background-position: -1135px -1183px; width: 135px; height: 90px; }
.sprite-south_africa{ background-position: -1135px -1274px; width: 135px; height: 90px; }
.sprite-south_korea{ background-position: -1135px -1365px; width: 135px; height: 90px; }
.sprite-south_sudan{ background-position: -1135px -1456px; width: 180px; height: 90px; }
.sprite-spain{ background-position: -1135px -1547px; width: 135px; height: 90px; }
.sprite-sri_lanka{ background-position: -1135px -1638px; width: 180px; height: 90px; }
.sprite-sudan{ background-position: -1135px -1729px; width: 180px; height: 90px; }
.sprite-suriname{ background-position: -1135px -1820px; width: 135px; height: 90px; }
.sprite-swaziland{ background-position: -1135px -1911px; width: 135px; height: 90px; }
.sprite-sweden{ background-position: -1365px 0; width: 144px; height: 90px; }
.sprite-switzerland{ background-position: -1365px -91px; width: 90px; height: 90px; }
.sprite-syria{ background-position: -1365px -182px; width: 135px; height: 90px; }
.sprite-taiwan{ background-position: -1365px -273px; width: 135px; height: 90px; }
.sprite-tajikistan{ background-position: -1365px -364px; width: 180px; height: 90px; }
.sprite-tanzania{ background-position: -1365px -455px; width: 135px; height: 90px; }
.sprite-thailand{ background-position: -1365px -546px; width: 135px; height: 90px; }
.sprite-the_bahamas{ background-position: -1365px -637px; width: 180px; height: 90px; }
.sprite-the_central_african_republic{ background-position: -1365px -728px; width: 135px; height: 90px; }
.sprite-the_comoros{ background-position: -1365px -819px; width: 151px; height: 91px; }
.sprite-the_czech_republic{ background-position: -1365px -911px; width: 135px; height: 90px; }
.sprite-the_democratic_republic_of_the_congo{ background-position: -1365px -1002px; width: 120px; height: 90px; }
.sprite-the_dominican_republic{ background-position: -1365px -1093px; width: 144px; height: 90px; }
.sprite-the_gambia{ background-position: -1365px -1184px; width: 135px; height: 90px; }
.sprite-the_marshall_islands{ background-position: -1365px -1275px; width: 171px; height: 90px; }
.sprite-the_netherlands{ background-position: -1365px -1366px; width: 135px; height: 90px; }
.sprite-the_peoples_republic_of_china{ background-position: -1365px -1457px; width: 135px; height: 90px; }
.sprite-the_philippines{ background-position: -1365px -1548px; width: 180px; height: 90px; }
.sprite-the_republic_of_the_congo{ background-position: -1365px -1639px; width: 135px; height: 90px; }
.sprite-the_seychelles{ background-position: -1365px -1730px; width: 180px; height: 90px; }
.sprite-the_solomon_islands{ background-position: -1365px -1821px; width: 180px; height: 90px; }
.sprite-the_united_arab_emirates{ background-position: -1365px -1912px; width: 180px; height: 90px; }
.sprite-the_united_kingdom{ background-position: -1595px 0; width: 180px; height: 90px; }
.sprite-the_united_states{ background-position: -1595px -91px; width: 171px; height: 90px; }
.sprite-the_vatican_city{ background-position: -1595px -182px; width: 90px; height: 90px; }
.sprite-togo{ background-position: -1595px -273px; width: 146px; height: 90px; }
.sprite-tonga{ background-position: -1595px -364px; width: 180px; height: 90px; }
.sprite-trinidad_and_tobago{ background-position: -1595px -455px; width: 151px; height: 91px; }
.sprite-tunisia{ background-position: -1595px -547px; width: 135px; height: 90px; }
.sprite-turkey{ background-position: -1595px -638px; width: 135px; height: 90px; }
.sprite-turkmenistan{ background-position: -1595px -729px; width: 135px; height: 90px; }
.sprite-tuvalu{ background-position: -1595px -820px; width: 180px; height: 90px; }
.sprite-uganda{ background-position: -1595px -911px; width: 135px; height: 90px; }
.sprite-ukraine{ background-position: -1595px -1002px; width: 135px; height: 90px; }
.sprite-uruguay{ background-position: -1595px -1093px; width: 135px; height: 90px; }
.sprite-uzbekistan{ background-position: -1595px -1184px; width: 180px; height: 90px; }
.sprite-vanuatu{ background-position: -1595px -1275px; width: 151px; height: 91px; }
.sprite-venezuela{ background-position: -1595px -1367px; width: 135px; height: 90px; }
.sprite-vietnam{ background-position: -1595px -1458px; width: 135px; height: 90px; }
.sprite-yemen{ background-position: -1595px -1549px; width: 135px; height: 90px; }
.sprite-zambia{ background-position: -1595px -1640px; width: 135px; height: 90px; }
.sprite-zimbabwe{ background-position: -1595px -1731px; width: 180px; height: 90px; }
