/*

Don't forget to add a background rule to reference the sprite image. Something like this, for example:

#container li {
    background: url(csg-51be02534c080.png) no-repeat top left;
}

 */

.sprite-afghanistan{ background-position: 0 0; width: 90px; height: 60px; }
.sprite-albania{ background-position: 0 -61px; width: 84px; height: 60px; }
.sprite-algeria{ background-position: 0 -122px; width: 90px; height: 60px; }
.sprite-andorra{ background-position: 0 -183px; width: 86px; height: 60px; }
.sprite-angola{ background-position: 0 -244px; width: 90px; height: 60px; }
.sprite-antigua_and_barbuda{ background-position: 0 -305px; width: 90px; height: 60px; }
.sprite-argentina{ background-position: 0 -366px; width: 96px; height: 60px; }
.sprite-armenia{ background-position: 0 -427px; width: 120px; height: 60px; }
.sprite-australia{ background-position: 0 -488px; width: 120px; height: 60px; }
.sprite-austria{ background-position: 0 -549px; width: 90px; height: 60px; }
.sprite-azerbaijan{ background-position: 0 -610px; width: 120px; height: 60px; }
.sprite-bahrain{ background-position: 0 -671px; width: 101px; height: 61px; }
.sprite-bangladesh{ background-position: 0 -733px; width: 101px; height: 61px; }
.sprite-barbados{ background-position: 0 -795px; width: 90px; height: 60px; }
.sprite-belarus{ background-position: 0 -856px; width: 120px; height: 60px; }
.sprite-belgium{ background-position: 0 -917px; width: 69px; height: 60px; }
.sprite-belize{ background-position: 0 -978px; width: 90px; height: 60px; }
.sprite-benin{ background-position: 0 -1039px; width: 90px; height: 60px; }
.sprite-bhutan{ background-position: 0 -1100px; width: 90px; height: 60px; }
.sprite-bolivia{ background-position: 0 -1161px; width: 89px; height: 61px; }
.sprite-bosnia_and_herzegovina{ background-position: 0 -1223px; width: 120px; height: 60px; }
.sprite-botswana{ background-position: 0 -1284px; width: 90px; height: 60px; }
.sprite-brazil{ background-position: 0 -1345px; width: 86px; height: 60px; }
.sprite-brunei{ background-position: 0 -1406px; width: 120px; height: 60px; }
.sprite-bulgaria{ background-position: 0 -1467px; width: 101px; height: 61px; }
.sprite-burkina_faso{ background-position: 0 -1529px; width: 90px; height: 60px; }
.sprite-burundi{ background-position: 0 -1590px; width: 101px; height: 61px; }
.sprite-cambodia{ background-position: 0 -1652px; width: 95px; height: 61px; }
.sprite-cameroon{ background-position: 0 -1714px; width: 90px; height: 60px; }
.sprite-canada{ background-position: 0 -1775px; width: 120px; height: 60px; }
.sprite-cape_verde{ background-position: 0 -1836px; width: 102px; height: 60px; }
.sprite-chad{ background-position: 0 -1897px; width: 90px; height: 60px; }
.sprite-chile{ background-position: 0 -1958px; width: 90px; height: 60px; }
.sprite-colombia{ background-position: -121px 0; width: 90px; height: 60px; }
.sprite-costa_rica{ background-position: -121px -61px; width: 101px; height: 61px; }
.sprite-cote_divoire{ background-position: -121px -123px; width: 90px; height: 60px; }
.sprite-croatia{ background-position: -121px -184px; width: 120px; height: 60px; }
.sprite-cuba{ background-position: -121px -245px; width: 120px; height: 60px; }
.sprite-cyprus{ background-position: -121px -306px; width: 90px; height: 60px; }
.sprite-denmark{ background-position: -121px -367px; width: 80px; height: 61px; }
.sprite-djibouti{ background-position: -121px -429px; width: 90px; height: 60px; }
.sprite-dominica{ background-position: -121px -490px; width: 120px; height: 60px; }
.sprite-east_timor{ background-position: -121px -551px; width: 120px; height: 60px; }
.sprite-ecuador{ background-position: -121px -612px; width: 90px; height: 60px; }
.sprite-egypt{ background-position: -121px -673px; width: 90px; height: 60px; }
.sprite-el_salvador{ background-position: -121px -734px; width: 107px; height: 60px; }
.sprite-equatorial_guinea{ background-position: -121px -795px; width: 90px; height: 60px; }
.sprite-eritrea{ background-position: -121px -856px; width: 120px; height: 60px; }
.sprite-estonia{ background-position: -121px -917px; width: 95px; height: 60px; }
.sprite-ethiopia{ background-position: -121px -978px; width: 120px; height: 60px; }
.sprite-fiji{ background-position: -121px -1039px; width: 120px; height: 60px; }
.sprite-finland{ background-position: -121px -1100px; width: 99px; height: 61px; }
.sprite-france{ background-position: -121px -1162px; width: 90px; height: 60px; }
.sprite-gabon{ background-position: -121px -1223px; width: 80px; height: 60px; }
.sprite-georgia{ background-position: -121px -1284px; width: 90px; height: 60px; }
.sprite-germany{ background-position: -121px -1345px; width: 101px; height: 61px; }
.sprite-ghana{ background-position: -121px -1407px; width: 90px; height: 60px; }
.sprite-greece{ background-position: -121px -1468px; width: 90px; height: 60px; }
.sprite-grenada{ background-position: -121px -1529px; width: 101px; height: 61px; }
.sprite-guatemala{ background-position: -121px -1591px; width: 96px; height: 60px; }
.sprite-guinea-bissau{ background-position: -121px -1652px; width: 120px; height: 60px; }
.sprite-guinea{ background-position: -121px -1713px; width: 90px; height: 60px; }
.sprite-guyana{ background-position: -121px -1774px; width: 101px; height: 61px; }
.sprite-haiti{ background-position: -121px -1836px; width: 101px; height: 61px; }
.sprite-honduras{ background-position: -121px -1898px; width: 120px; height: 60px; }
.sprite-hungary{ background-position: -121px -1959px; width: 120px; height: 60px; }
.sprite-iceland{ background-position: -242px 0; width: 84px; height: 60px; }
.sprite-india{ background-position: -242px -61px; width: 90px; height: 60px; }
.sprite-indonesia{ background-position: -242px -122px; width: 90px; height: 60px; }
.sprite-iran{ background-position: -242px -183px; width: 105px; height: 60px; }
.sprite-iraq{ background-position: -242px -244px; width: 90px; height: 60px; }
.sprite-ireland{ background-position: -242px -305px; width: 120px; height: 60px; }
.sprite-israel{ background-position: -242px -366px; width: 83px; height: 60px; }
.sprite-italy{ background-position: -242px -427px; width: 90px; height: 60px; }
.sprite-jamaica{ background-position: -242px -488px; width: 120px; height: 60px; }
.sprite-japan{ background-position: -242px -549px; width: 90px; height: 60px; }
.sprite-jordan{ background-position: -242px -610px; width: 120px; height: 60px; }
.sprite-kazakhstan{ background-position: -242px -671px; width: 120px; height: 60px; }
.sprite-kenya{ background-position: -242px -732px; width: 90px; height: 60px; }
.sprite-kiribati{ background-position: -242px -793px; width: 120px; height: 60px; }
.sprite-kuwait{ background-position: -242px -854px; width: 120px; height: 60px; }
.sprite-kyrgyzstan{ background-position: -242px -915px; width: 101px; height: 61px; }
.sprite-laos{ background-position: -242px -977px; width: 90px; height: 60px; }
.sprite-latvia{ background-position: -242px -1038px; width: 120px; height: 60px; }
.sprite-lebanon{ background-position: -242px -1099px; width: 90px; height: 60px; }
.sprite-lesotho{ background-position: -242px -1160px; width: 90px; height: 60px; }
.sprite-liberia{ background-position: -242px -1221px; width: 114px; height: 60px; }
.sprite-libya{ background-position: -242px -1282px; width: 120px; height: 60px; }
.sprite-liechtenstein{ background-position: -242px -1343px; width: 101px; height: 61px; }
.sprite-lithuania{ background-position: -242px -1405px; width: 101px; height: 61px; }
.sprite-luxembourg{ background-position: -242px -1467px; width: 101px; height: 61px; }
.sprite-macedonia{ background-position: -242px -1529px; width: 120px; height: 60px; }
.sprite-madagascar{ background-position: -242px -1590px; width: 90px; height: 60px; }
.sprite-malawi{ background-position: -242px -1651px; width: 90px; height: 60px; }
.sprite-malaysia{ background-position: -242px -1712px; width: 120px; height: 60px; }
.sprite-maldives{ background-position: -242px -1773px; width: 90px; height: 60px; }
.sprite-mali{ background-position: -242px -1834px; width: 90px; height: 60px; }
.sprite-malta{ background-position: -242px -1895px; width: 90px; height: 60px; }
.sprite-mauritania{ background-position: -242px -1956px; width: 90px; height: 60px; }
.sprite-mauritius{ background-position: -363px 0; width: 90px; height: 60px; }
.sprite-mexico{ background-position: -363px -61px; width: 105px; height: 60px; }
.sprite-micronesia{ background-position: -363px -122px; width: 114px; height: 60px; }
.sprite-moldova{ background-position: -363px -183px; width: 120px; height: 60px; }
.sprite-monaco{ background-position: -363px -244px; width: 75px; height: 60px; }
.sprite-mongolia{ background-position: -363px -305px; width: 120px; height: 60px; }
.sprite-montenegro{ background-position: -363px -366px; width: 120px; height: 60px; }
.sprite-morocco{ background-position: -363px -427px; width: 90px; height: 60px; }
.sprite-mozambique{ background-position: -363px -488px; width: 90px; height: 60px; }
.sprite-myanmar{ background-position: -363px -549px; width: 90px; height: 60px; }
.sprite-namibia{ background-position: -363px -610px; width: 90px; height: 60px; }
.sprite-nauru{ background-position: -363px -671px; width: 120px; height: 60px; }
.sprite-nepal{ background-position: -363px -732px; width: 50px; height: 61px; }
.sprite-new_zealand{ background-position: -363px -794px; width: 120px; height: 60px; }
.sprite-nicaragua{ background-position: -363px -855px; width: 101px; height: 61px; }
.sprite-niger{ background-position: -363px -917px; width: 71px; height: 61px; }
.sprite-nigeria{ background-position: -363px -979px; width: 120px; height: 60px; }
.sprite-north_korea{ background-position: -363px -1040px; width: 120px; height: 60px; }
.sprite-norway{ background-position: -363px -1101px; width: 83px; height: 60px; }
.sprite-oman{ background-position: -363px -1162px; width: 120px; height: 60px; }
.sprite-pakistan{ background-position: -363px -1223px; width: 90px; height: 60px; }
.sprite-palau{ background-position: -363px -1284px; width: 96px; height: 60px; }
.sprite-palestine{ background-position: -363px -1345px; width: 120px; height: 60px; }
.sprite-panama{ background-position: -363px -1406px; width: 90px; height: 60px; }
.sprite-papua_new_guinea{ background-position: -363px -1467px; width: 80px; height: 60px; }
.sprite-paraguay{ background-position: -363px -1528px; width: 101px; height: 61px; }
.sprite-peru{ background-position: -363px -1590px; width: 90px; height: 60px; }
.sprite-poland{ background-position: -363px -1651px; width: 96px; height: 60px; }
.sprite-portugal{ background-position: -363px -1712px; width: 90px; height: 60px; }
.sprite-qatar{ background-position: -363px -1773px; width: 153px; height: 60px; }
.sprite-romania{ background-position: -363px -1834px; width: 90px; height: 60px; }
.sprite-russia{ background-position: -363px -1895px; width: 90px; height: 60px; }
.sprite-rwanda{ background-position: -363px -1956px; width: 90px; height: 60px; }
.sprite-saint_kitts_and_nevis{ background-position: -517px 0; width: 90px; height: 60px; }
.sprite-saint_lucia{ background-position: -517px -61px; width: 120px; height: 60px; }
.sprite-saint_vincent_and_the_grenadines{ background-position: -517px -122px; width: 90px; height: 60px; }
.sprite-samoa{ background-position: -517px -183px; width: 120px; height: 60px; }
.sprite-san_marino{ background-position: -517px -244px; width: 80px; height: 60px; }
.sprite-sao_tome_and_principe{ background-position: -517px -305px; width: 120px; height: 60px; }
.sprite-saudi_arabia{ background-position: -517px -366px; width: 90px; height: 60px; }
.sprite-senegal{ background-position: -517px -427px; width: 90px; height: 60px; }
.sprite-serbia{ background-position: -517px -488px; width: 90px; height: 60px; }
.sprite-sierra_leone{ background-position: -517px -549px; width: 90px; height: 60px; }
.sprite-singapore{ background-position: -517px -610px; width: 90px; height: 60px; }
.sprite-slovakia{ background-position: -517px -671px; width: 90px; height: 60px; }
.sprite-slovenia{ background-position: -517px -732px; width: 120px; height: 60px; }
.sprite-somalia{ background-position: -517px -793px; width: 90px; height: 60px; }
.sprite-south_africa{ background-position: -517px -854px; width: 90px; height: 60px; }
.sprite-south_korea{ background-position: -517px -915px; width: 90px; height: 60px; }
.sprite-south_sudan{ background-position: -517px -976px; width: 120px; height: 60px; }
.sprite-spain{ background-position: -517px -1037px; width: 90px; height: 60px; }
.sprite-sri_lanka{ background-position: -517px -1098px; width: 120px; height: 60px; }
.sprite-sudan{ background-position: -517px -1159px; width: 120px; height: 60px; }
.sprite-suriname{ background-position: -517px -1220px; width: 90px; height: 60px; }
.sprite-swaziland{ background-position: -517px -1281px; width: 90px; height: 60px; }
.sprite-sweden{ background-position: -517px -1342px; width: 96px; height: 60px; }
.sprite-switzerland{ background-position: -517px -1403px; width: 60px; height: 60px; }
.sprite-syria{ background-position: -517px -1464px; width: 90px; height: 60px; }
.sprite-taiwan{ background-position: -517px -1525px; width: 90px; height: 60px; }
.sprite-tajikistan{ background-position: -517px -1586px; width: 120px; height: 60px; }
.sprite-tanzania{ background-position: -517px -1647px; width: 90px; height: 60px; }
.sprite-thailand{ background-position: -517px -1708px; width: 90px; height: 60px; }
.sprite-the_bahamas{ background-position: -517px -1769px; width: 120px; height: 60px; }
.sprite-the_central_african_republic{ background-position: -517px -1830px; width: 90px; height: 60px; }
.sprite-the_comoros{ background-position: -517px -1891px; width: 101px; height: 61px; }
.sprite-the_czech_republic{ background-position: -517px -1953px; width: 90px; height: 60px; }
.sprite-the_democratic_republic_of_the_congo{ background-position: -671px 0; width: 80px; height: 60px; }
.sprite-the_dominican_republic{ background-position: -671px -61px; width: 96px; height: 60px; }
.sprite-the_gambia{ background-position: -671px -122px; width: 90px; height: 60px; }
.sprite-the_marshall_islands{ background-position: -671px -183px; width: 114px; height: 60px; }
.sprite-the_netherlands{ background-position: -671px -244px; width: 90px; height: 60px; }
.sprite-the_peoples_republic_of_china{ background-position: -671px -305px; width: 90px; height: 60px; }
.sprite-the_philippines{ background-position: -671px -366px; width: 120px; height: 60px; }
.sprite-the_republic_of_the_congo{ background-position: -671px -427px; width: 90px; height: 60px; }
.sprite-the_seychelles{ background-position: -671px -488px; width: 120px; height: 60px; }
.sprite-the_solomon_islands{ background-position: -671px -549px; width: 120px; height: 60px; }
.sprite-the_united_arab_emirates{ background-position: -671px -610px; width: 120px; height: 60px; }
.sprite-the_united_kingdom{ background-position: -671px -671px; width: 120px; height: 60px; }
.sprite-the_united_states{ background-position: -671px -732px; width: 114px; height: 60px; }
.sprite-the_vatican_city{ background-position: -671px -793px; width: 60px; height: 60px; }
.sprite-togo{ background-position: -671px -854px; width: 98px; height: 61px; }
.sprite-tonga{ background-position: -671px -916px; width: 120px; height: 60px; }
.sprite-trinidad_and_tobago{ background-position: -671px -977px; width: 101px; height: 61px; }
.sprite-tunisia{ background-position: -671px -1039px; width: 90px; height: 60px; }
.sprite-turkey{ background-position: -671px -1100px; width: 90px; height: 60px; }
.sprite-turkmenistan{ background-position: -671px -1161px; width: 90px; height: 60px; }
.sprite-tuvalu{ background-position: -671px -1222px; width: 120px; height: 60px; }
.sprite-uganda{ background-position: -671px -1283px; width: 90px; height: 60px; }
.sprite-ukraine{ background-position: -671px -1344px; width: 90px; height: 60px; }
.sprite-uruguay{ background-position: -671px -1405px; width: 90px; height: 60px; }
.sprite-uzbekistan{ background-position: -671px -1466px; width: 120px; height: 60px; }
.sprite-vanuatu{ background-position: -671px -1527px; width: 101px; height: 61px; }
.sprite-venezuela{ background-position: -671px -1589px; width: 90px; height: 60px; }
.sprite-vietnam{ background-position: -671px -1650px; width: 90px; height: 60px; }
.sprite-yemen{ background-position: -671px -1711px; width: 90px; height: 60px; }
.sprite-zambia{ background-position: -671px -1772px; width: 90px; height: 60px; }
.sprite-zimbabwe{ background-position: -671px -1833px; width: 120px; height: 60px; }
